* {
    box-sizing: border-box;
}

body {
    font-family: 'Crimson Text', serif;
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1516592673884-4a382d1124c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
}

body main {
    padding: 10px;
    margin-right: 30px;
    margin-left: 30px;
    background:rgba(248, 248, 246, 0.7);
}

ul li {
    list-style: none;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 40px;
    margin-top:20px;
}
li {
    font-size: 20px;
}

button {  
    margin-top: 30px;
    font-size: 18px; 
    background:rgba(236, 173, 91, 0.7);
    border-radius: 8px;
    border: none; 
    font-family: 'Crimson Text', serif;
}

button.findOutButton {
    height: 55px;
    width: 130px;
    font-size: 18px;
}

button {
    height: 50px;
    width: 100px;
}

button:hover {
    background-color: #ffc7b3;
}

.homePg h1 {
    font-size: 20px;
}

h2 {
    font-size: 25px;
}

.questionAnswerForm {
    font-size: 20px;
    padding: 10px;
}

fieldset {
    border-color: none;
    border-width:0px;
}


  /* Desktop computers */
@media screen and (min-width: 1200px) and (max-width: 1919px) {
    .homePg h1 {
        font-size: 45px;
    }

    ul li {
        margin-bottom: 80px;
    }

    button.findOutButton {
        height: 75px;
        width: 150px;
        /* font-size: 15px; */
    }

    body main {
        margin-right: 100px;
        margin-left: 100px;
    }
    .questionAnswerForm {
        font-size: 20px;
        padding: 30px;
    }

}


/* iPads */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .homePg h1 {
        font-size: 45px;
    }

    ul li {
        margin-bottom: 80px;
    }

    li {
        font-size: 30px;
    }

    button.findOutButton {
        height: 75px;
        width: 200px;
        font-size: 25px;
    }

    body main {
        margin-right: 100px;
        margin-left: 100px;
    }
    .questionAnswerForm {
        font-size: 20px;
        padding: 30px;
    }

    h2 {
        font-size: 40px;
    }

    .answerOption {
        font-size: 30px;
    }

    .submitButton, .nextButton {
        font-size: 25px;
        height: 70px;
        width: 150px;
    }

    .result, .score {
        font-size: 30px;
    }
}

/* wider iPhones */
@media screen and (min-width: 375px) and (max-width: 414px) {

}

/* Extra large screens */    
@media screen and (min-width: 1919px) {


}

/* iphone 5 */
@media screen and (max-width: 320px) {
    .homePg h1 {
        font-size: 30px;
    }

    body main {
        margin-right: 15px;
        margin-left: 15px;
    }

    ul li {
        margin-bottom: 20px;
        margin-top:20px;
    }

}

